<?xml version="1.0" encoding="utf-8" ?>
<!-- App.config -->
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IService1" />
   </basicHttpBinding>
   <webHttpBinding>
    <binding name="webHttpBinding_IMyService" />
   </webHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:3000" behaviorConfiguration="webhttp"
    binding="webHttpBinding" bindingConfiguration="webHttpBinding_IMyService"
    contract="ServiceReference1.IService1" name="webHttpBinding_IMyService" />
   <endpoint address="http://localhost:3000/soap" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
    name="BasicHttpBinding_IService1" />
  </client>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webhttp">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>